<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConsoleApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConsoleApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="VB" value="VB" />
    <add key="VBOutput" value="VB.P" />
    <add key="C#" value="C#" />
    <add key="C#Output" value="Good choice, C# is a fine language." />
    <add key="DefaultOutput" value="Well...good luck with that!" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <ConsoleApp1.Properties.Settings>
      <setting name="SampleString" serializeAs="String">
        <value>Suraj is Humble and Great</value>
      </setting>
      <setting name="SpecialCharacters" serializeAs="String">
        <value>^[a-zA-Z0-9 ]*$</value>
      </setting>
      <setting name="ExceptionMessage" serializeAs="String">
        <value>Invalid Input: {0}</value>
      </setting>
      <setting name="Vehicle1" serializeAs="String">
        <value>Zinco</value>
      </setting>
      <setting name="Vehicle2" serializeAs="String">
        <value>VW</value>
      </setting>
      <setting name="Vehicle3" serializeAs="String">
        <value>BMW</value>
      </setting>
      <setting name="UpdatedVehicle" serializeAs="String">
        <value>Ferrari</value>
      </setting>
      <setting name="VehicleAfterUpdateSignature" serializeAs="String">
        <value>Vehicle 1 after update:</value>
      </setting>
      <setting name="Truck1" serializeAs="String">
        <value>Garbage</value>
      </setting>
      <setting name="Truck2" serializeAs="String">
        <value>Dump</value>
      </setting>
      <setting name="Truck3" serializeAs="String">
        <value>Carrier</value>
      </setting>
      <setting name="DisplayTrucksSignature" serializeAs="String">
        <value>Display Sorted Trucks:</value>
      </setting>
      <setting name="DisplayCarsSignature" serializeAs="String">
        <value>Display Sorted Cars:</value>
      </setting>
      <setting name="DisplayVehiclesSignature" serializeAs="String">
        <value>Display Sorted Vehicles:</value>
      </setting>
      <setting name="VehicleSignature" serializeAs="String">
        <value>Vehicle:</value>
      </setting>
      <setting name="MaxRandom" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="MinRandom" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DefaultMessage" serializeAs="String">
        <value>Wrong Choice!</value>
      </setting>
      <setting name="StudentNameSignature" serializeAs="String">
        <value>Enter your name:</value>
      </setting>
      <setting name="StudentAgeSignature" serializeAs="String">
        <value>Enter your age:</value>
      </setting>
      <setting name="StudentDetailsSignature" serializeAs="String">
        <value>Enter your choice 0:ENumber, 1:Name, 2:Age :</value>
      </setting>
    </ConsoleApp1.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <ConsoleApp1.Properties.Settings>
      <setting name="COutput" serializeAs="String">
        <value>C# is good</value>
      </setting>
    </ConsoleApp1.Properties.Settings>
  </applicationSettings>
</configuration>